<!DOCTYPE html>
<!-- Description: My first node app. Displays a song list that can be edited, added to, and cleared
Authors: Matthew Sperry, Eva Wu, Emma Plessinger, Garrett Sackley, Hannah Thomas -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita&display=swap"
      rel="stylesheet"
    />
    <!--Linking the styles sheet-->
    <link rel="stylesheet" href="/Styles/Styles.css" />
    <title>Edit Song</title>
  </head>
  <body>
    <div class="header">
      <h1>Custom Party Playlist</h1>
    </div>

    <main>
      <h2>Edit Song:</h2>

      <div>
        <!--form to edit a song and assigning it to the values-->
        <form method="post">
          <input type="hidden" name="SongID" value="<%= aSongs[0].SongID %>" />
          Song Name:
          <input
            type="text"
            name="SongName"
            value="<%= aSongs[0].SongName %>"
          />
          <br />
          Artist:
          <input
            type="text"
            name="ArtistID"
            value="<%= aSongs[0].ArtistID %>"
          />
          <br />
          Year released:
          <input
            type="text"
            name="YearReleased"
            value="<%= aSongs[0].YearReleased %>"
          />
          <br />
          <button type="submit">Save</button>
          <button>
            <a style="color: black; text-decoration: none" href="/">Cancel</a>
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
